@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido @ViewData["nombreUsuario"]</h1>
    <p>Al sistema del hotel en el cual podras reservar habitaciones y/o parqueaderos</p>

</div>


